/* Same stylings as from original HTML version, refer to that for complete documentation */
* {
	font-family: Verdana;
}
#logo {
	display: inline-block;
}
#test {
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8c8c8c;
}

li {
    float: left;
}

#login {
	float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
}

#active {
    background-color: #25a2a6;
}

#bodypar {
	width:700px;
	display: inline-block;
}

div {
	display: inline-block;
	width: 300px;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #000000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Catalog table settings*/
table {
	border-collapse: collapse;
	width: 100%;
}
th, td{
    border-bottom: 1px solid black;
}
tr{
	width: 350px;
	height: 200px;
}
td:hover{
	background-color: #f5f5f5;
}
h3 a{
	text-decoration: none;
}

/*Contact page*/
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
/*End Contact*/

#login-buttons {
	float: right;
}

